<div class="col-md-3 col-12 mb-3">
	<div class="product-small-card product type-product post-{{ id }} status-publish instock product_cat-17 has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
	<a href="{{ url }}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
		{{{ image }}}
		<h2 class="woocommerce-loop-product__title">{{ title }}</h2>


		{{#sale_price}}
		<span class="price">
			<del>
				<span class="woocommerce-Price-amount amount">
					<bdi>
						<span>מחיר קודם באתר: </span>
						<span class="woocommerce-Price-currencySymbol">₪</span>
						{{ regular_price }}
					</bdi>
				</span>
			</del>
			<ins>
				<span class="woocommerce-Price-amount amount">
				<bdi>
					<span>מחיר באתר: </span>
					<span class="woocommerce-Price-currencySymbol">₪</span>
					{{ sale_price }}
				</bdi>
				</span>
			</ins>
		</span>
		{{/sale_price}}

		{{#is_regular}}
			<span class="price">
				<ins>
					<span class="woocommerce-Price-amount amount">
					<bdi>
						<span>מחיר באתר: </span>
						<span class="woocommerce-Price-currencySymbol">₪</span>
						{{ regular_price }}
					</bdi>
					</span>
				</ins>
			</span>
		{{/is_regular}}




	</a>
	<div class="add-to-cart-wrap d-flex">

		<div class="qty-wrap">
			<div class="plus" data-id="{{ id }}"> + </div>
			<div class="quantity">
				<label class="screen-reader-text" for="quantity_606efb87ee88c">כמות של {{ title }}</label>
				<input type="number" id="quantity_606efb87ee88c" class="qty-for-{{ id }}" step="1" min="1" max="" name="quantity" value="1" title="כמות" size="4" placeholder="" inputmode="numeric">
			</div>
			<div class="minus" data-id="{{ id }}"> - </div>
		</div>

		<div class="btn-wrap">
			<button type="submit" name="add-to-cart" value="{{ id }}" class="single_add_to_cart_button button alt">
				<span>הוספה לסל</span>
			</button>
		</div>

	</div>



	<span class="price-per-100">
		ל-100 מ״ל
		{{ price_per_100 }}
		₪
	</span>

</div>
</div>
