.pop-form-title, .pop-form-subtitle {
  text-align: center;
  margin-bottom: 15px;
  color: $text-color;
}
.pop-form-title {
  font-size: size(68);
  line-height: size(66);
  font-weight: 700;
}
.form-title {
  @include base-title;
}
.pop-form-subtitle {
  font-size: size(34);
  line-height: size(36);
  font-weight: 400;
}
.blue-form, .foo-form, .contact-form-wrap {
  .pop-form-title, .pop-form-subtitle {
	color: #ffffff;
  }
}
.blue-form {
  background-color: $blue-main !important;
  .pop-form-title {
	font-size: size(57);
	line-height: size(52);
  }
}
//Form styles
div.wpcf7 input,
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: size(228);
  padding: 20px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="submit"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../iconsall/submit-arrow.png");
  color: #ffffff;
  font-size: size(22);
  line-height: size(24);
  font-weight: 400;
  text-align: center;
  background-position: 8px center;
  background-repeat: no-repeat;
  white-space: normal;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: size(62);
  padding-right: 8px;
  background-color: $olive;
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
//Popup, single.php form
.granit-back {
  background-image: url("../img/gray-back.png");
  @include back-img;
}
.post-form-wrap {
  padding: size(34) 8% 10px 8%;
  position: relative;
  box-shadow: -1px 1px 15px 1px rgba(35, 35, 35, 0.26);
  background-color: #ffffff;
  margin-bottom: 2rem;
  div.wpcf7 input {
	font-size: size(15);
	line-height: size(16);
	padding-right: size(35);
	height: size(36);
	border-radius: size(19);
	background-size: size(26);
	background-position: calc(100% - 5px) center;
  }
  .wpcf7-form {
	::placeholder {
	  font-size: size(15);
	  line-height: size(16);
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  font-size: size(15);
	  line-height: size(16);
	}
  }
  div.wpcf7 input[type="submit"] {
	font-size: size(15);
	line-height: size(16);
	background-position: 5px center;
	padding-left: size(35);
	padding-right: 8px;
  }
}
.pop-form, .pop-form-site {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-site {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: size(16);
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.form-wrapper-pop {
  position: relative;
  @include d-center;
  flex-direction: column;
  padding: size(120) 7% 10px 7%;
  background-color: #ffffff;
}
.close-form, .close-form-site {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  img {
	width: size(24);
  }
}
footer {
  div.wpcf7 input[type="submit"] {
	background-color: $blue-main;
	margin-right: -1rem;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
  }
  div.wpcf7 input[type="email"] {
	background-image: url("../iconsall/form-mail-foo.png");
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
  }
}
