#MainNav{
  ul{
	display: flex;
	li{
	  @include d-center;
	  padding: 0 size(16);
	  border-left: 1px solid #fff;
	  a{
		font-size: size(20);
		line-height: size(20);
		@include d-center;
		color: #ffffff;
		transition: text-shadow .5s;
		&:hover {
		  color: #ffffff;
		  text-shadow: 1px 0 0 #ffffff;
		  transition: text-shadow .5s;
		}
	  }
	  &:last-child  {
		border-left: none;
	  }
	}
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.57);
  background-image: linear-gradient(-178deg, #132d52 0%, #19487d 100%);
  padding: 10px 0;
}
.header-btn {
  @include d-center;
  position: relative;
  .count-circle {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 18px;
	height: 18px;
	border: 2px solid #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #194273;
	font-size: 10px;
	border-radius: 50%;
  }
  img,
  svg {
	width: size(40);
	min-width: size(40);
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(50);
  }
}
.triggers-col {
  position: fixed;
  z-index: 9999;
  left: size(26);
  bottom: 10%;
  @include d-center;
  flex-direction: column;
}
.trigger-item {
  @include d-center;
  width: size(71);
  cursor: pointer;
  margin-bottom: 15px;
}
.pop-trigger {
  background-image: url("../iconsall/pop-trigger.png");
  background-size: 100% 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: #fffefe;
  font-size: size(18);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(19);
  text-align: center;
  padding: 8px 15px 18px 15px;
  min-height: size(60);
}
.link-trigger {
  flex-direction: column;
  width: size(71);
  height: size(66);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
  border-radius: size(32);
  background-color: #ffffff;
  font-size: size(13);
  text-align: center;
  line-height: size(15);
  font-weight: 700;
  color: $text-color;
  transition: color .5s;
  img {
	width: size(33);
	margin-top: -5px;
  }
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
.pop-oil {
  margin-bottom: -8rem;
  width: 35%;
  z-index: 33;
}
//Footer
.pay-row {
  padding: size(20) 0;
  background-color: #fff;
}
.pay-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	max-height: size(76);
  }
}
//Footer
#go-top {
  position: absolute;
  right: 8%;
  bottom: calc(100% - 10px);
  @include d-center;
  width: size(62);
  height: size(62);
  border-radius: 50%;
  border: 3px solid $olive;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 9999;
  animation: jump-top 1.2s ease-in-out alternate infinite;
}
.to-top-img {
  position: absolute;
  bottom: 100%;
  z-index: 3;
  width: size(29);
}
.to-top-text {
  color: $olive;
  font-size: size(14);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(14);
  text-align: center;
  margin-bottom: 0;
}
footer {
  padding-top: size(90);
}
.footer-main {
  position: relative;
  padding: size(60) 0;
  background-image: url("../img/foo-back.png");
  @include back-img;
  background-color: $olive;
}
.foo-menu {
  padding-top: 1rem;
}
.foo-form-row {
  position: relative;
  justify-content: center;
  align-items: flex-end;
}
.foo-title, .facebook-title {
  color: #ffffff;
  font-size: size(35);
  font-weight: 700;
  line-height: size(39);
  margin-bottom: 0.5rem;
}
.menu-border-top {
  position: relative;
  padding-top: 15px;
  border-top: 2px solid $blue-main;
}
.facebook-widget {
  overflow-x: hidden;
  .menu-border-top {
	border: none;
  }
}
footer {
  position: relative;
  li {
	position: relative;
	padding-right: 20px;
	-webkit-column-break-inside: avoid;
	margin-bottom: 15px;
	a {
	  font-size: size(21);
	  line-height: size(22);
	  font-weight: 400;
	  color: #ffffff;
	  transition: all .5s;
	}
	a:hover {
	  color: #ffffff;
	  cursor: pointer;
	  text-shadow: 0 0 1px rgba(255, 255, 255, 1);
	  transition: all .5s;
	}
  }
  li::before {
	position: absolute;
	top: 5px;
	right: 0;
	content: '>';
	font-size: size(21);
	line-height: size(22);
	font-weight: 400;
	color: #ffffff;
  }
}
.foo-form-title, .foo-form-text {
  color: #ffffff;
  text-align: center;
  font-size: size(35);
  line-height: size(39);
  margin-bottom: 17px;
}
.foo-form-title {
  font-weight: 700;
}
.foo-form-text {
  font-weight: 400;
}
.acceptance-col {
  label {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
	margin-top: -1rem;
  }
  input[type="checkbox"] {
	width: size(13);
	margin-left: 5px;
  }
  span {
	color: #ffffff;
	font-size: size(18);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(20);
	text-align: center;
  }
}
.logo-foo {
  @include d-center;
  margin-bottom: size(48);

}

//Header more
.langs-wrap {
  @include d-center;
  width: size(42);
  height: size(42);
  background-color: #ffffff;
  border-radius: 50%;
  .active {
	display: none;
  }
  a {
	color: #174172;
	font-size: size(20);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(22);
	text-align: center;
  }
}
.header-tel {
  @include d-center;
  flex-direction: column;
  &:hover {
	.header-tel-text {
	  color: #fff;
	}
  }
  img {
	display: none;
  }
}
.header-tel-text {
  font-size: size(20);
  line-height: size(20);
  text-align: center;
  font-weight: 700;
  color: #fff;
}
