.arrows-slider {
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-size: size(30);
	background-position: center;
	background-repeat: no-repeat;
	z-index: 33;
	top: unset;
	@include d-center;
	width: size(48);
	height: size(48);
	border-radius: 50%;
	background-color: $olive;
	bottom: -4rem;
	transition: background-color .5s;
	&:hover {
	  background-color: $blue-main;
	  transition: background-color .5s;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-link-white.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-link-white-right.png");
  }
  &:not(.slider-prods) {
	[dir="rtl"] .slick-next {
	  background-image: url("../iconsall/arrow-link-white.png");
	}
	[dir="rtl"] .slick-prev {
	  background-image: url("../iconsall/arrow-link-white-right.png");
	}
  }
}
.slider-prods {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	bottom: unset;
	top: 50%;
  }
}
.videos-col {
  padding: size(80) 0;
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}
//Slider
.base-slider-block {
  padding: size(120) 0;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after, &:before {
	position: absolute;
	content: '';
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: size(98);
	height: size(62);
  }
  &:after {
	background-image: url("../iconsall/olive-bottom.png");
	left: 0;
	top: -1.5rem;
  }
  &:before {
	background-image: url("../iconsall/olive-top.png");
	bottom: -1rem;
	right: 0;
  }
}
.slider-img-col img {
  width: 100%;
  border-radius: 25px;
  border: 2px solid $olive;
}
.slider-col-content {
  padding-left: 5%;
}
.blue-slider {
  background-color: $blue-main;
  .slider-row {
	flex-direction: row-reverse;
  }
  .slider-col-content {
	padding-right: 5%;
	padding-left: 15px;
  }
  .slider-img-col {
	&:after {
	  bottom: -1.5rem;
	  top: unset;
	}
	&:before {
	  top: -1rem;
	  bottom: unset;
	}
  }
  .base-output {
	h1, h2, h3, h4, h5, h6, p, li {
	  color: #ffffff;
	}
  }
  [dir="rtl"] .slick-next, [dir="rtl"] .slick-prev {
	background-color: #fff !important;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-link.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
}
//Repeat form block
.repeat-form-post {
  .form-oil {
	display: none;
  }
  .repeat-form-wrap {
	padding-top: 0;
	padding-bottom: size(50);
  }
}
.repeat-form-wrap {
  position: relative;
  padding-top: 3rem;
}
.form-oil {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 18%;
  z-index: 3;
}
.repeat-form {
  position: relative;
  padding: size(71) 0 size(50) 0;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  background-image: url("../img/form-basic.png");
}
//Faq
.logo-faq {
  @include d-center;
  margin-bottom: 15px;
}
.faq {
  padding: size(40) 0 size(90) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 24px;
  }
  .answer-body {
	padding: size(20) size(54);
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(61);
  border-radius: size(31);
  border: 2px solid $olive !important;
  background-color: #FFF;
  padding-left: size(43);
}
.faq-body-title {
  @include mid-text;
  color: $text-color;
  text-align: right;
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.arrow-top {
  position: absolute;
  left: size(17);
  width: size(26);
  transition: transform .5s;
}
.arrow-bottom {
  transform: scale(1, -1);
  transition: transform .5s;
}
.faq-icon {
  @include d-center;
  background-color: $olive;
  border-radius: 50%;
  padding: size(15);
  width: size(48);
  height: size(48);
  margin-left: 15px;
  font-size: size(38);
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}
//Post card
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.col-post {
  margin-bottom: size(40);
}
.post-card-content {
  flex-grow: 1;
  box-shadow: 0 0 20px 2px rgba(35, 35, 35, 0.15);
  background-color: #ffffff;
  padding: size(15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.post-img {
  display: flex;
  position: relative;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 76%;
  }
}
.post-img-overlay {
  @include overlay;
  background-image: url("../img/post-overlay.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10% 5% size(28) 5%;
}
.video-img-overlay {
  background-image: url("../img/post-video-overlay.png");
  align-items: center;
  cursor: pointer;
  img {
	width: 20%;
  }
}
.video-title {
  font-size: size(18);
  line-height: size(20);
  text-align: center;
  color: $olive;
  font-weight: 700;
}
.post-card-title {
  text-shadow: 0 1px 13px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: size(22);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(27);
  text-align: center;
}
.base-post-text {
  color: $text-color;
  font-size: size(16);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
}
.post-link {
  align-self: center;
  font-size: size(17);
  line-height: size(18);
  background-size: size(16);
}
//Video
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
