.product-col {
  margin-bottom: 1.5rem;
}
.product-small-card {
  box-shadow: 0 0 20px 2px rgba(35, 35, 35, 0.15);
  border-radius: size(35);
  background-color: #ffffff;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 size(26) size(35) size(26);
  transition: box-shadow .5s;
  &:hover{
	box-shadow: 0 0 20px 2px rgba(35, 35, 35, 0.25);
	transition: box-shadow .5s;
  }
  img {
	max-height: 95%;
	height: unset;
  }
  a{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
  }
  .top {
	@include d-center;
	height: 100%;
  }
  .bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
  }
  picture{
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
  }
  .woocommerce-loop-product__title {
	width: 100%;
	text-align: center;
	font-size: size(18);
	line-height: size(20);
	color: #122c50;
	margin-top: 24px;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 1px solid $blue-main;
  }
  span.onsale{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	right: size(34);
	border-radius: 0 !important;
	padding-top: 10px !important;
	top: -15px;
	min-width: size(124);
	min-height: size(71);
	width: size(124);
	height: size(71);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	color: #ffffff;
	font-size: size(27);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(30);
	text-align: center;
	text-transform: uppercase;
	background-image: url("../iconsall/sale-back.png");
	picture{
	  height: auto;
	  img{
		max-width: 100%;
		height: auto;
	  }
	}
  }
}
.price-title {
  color: $blue-title;
  font-size: size(18) !important;
  font-weight: 700;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 25px;
  color: $blue-title;
  del{
	display: flex;
	span{
	  line-height: 1;
	  color: #7b7c7d;
	  font-size: size(18) !important;
	  font-weight: 700;
	}
  }
  ins{
	display: flex;
	text-decoration: none;
	span{
	  line-height: 1;
	  color: $blue-title;
	  font-size: size(18) !important;
	  font-weight: 700;
	}
  }
}
.add-to-cart-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto !important;
  .qty-wrap,
  .btn-wrap{
	width: 48%;
	height: 23px;
	border-radius: 11px;
  }
  .btn-wrap{
	@include d-center;
	align-items: flex-end;
	button{
	  height: 100%;
	  display: flex;
	  position: relative;
	  align-items: center;
	  justify-content: center;
	  border-radius: 11px !important;
	  color: #fff !important;
	  font-size: size(15) !important;
	  font-weight: 400;
	  padding: 3px !important;
	  text-align: center;
	  background-color: $blue-main !important;
	  width: 100%;
	  border: none;
	  margin: 0;
	}
  }
}
.qty-wrap {
  overflow: hidden;
  display: flex;
  height: 23px;
  border: 1px solid #262626;
  background-color: #ffffff;
  .quantity {
	display: flex;
  }
  input {
	-webkit-appearance: none;
	width: 25px;
	height: 100%;
	text-align: center;
	background-color: #ffffff;
	color: $text-color;
	font-size: size(18);
	line-height: size(20);
	padding: 0;
  }
  input, .plus, .minus{
	flex: auto;
	cursor: pointer;
  }
  .plus, .minus{
	font-size: size(18);
	line-height: size(20);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	color: $text-color;
	transition: all .5s;
  }
}
.single-product-header{
  background-color: #f8f8f8;
  padding: size(30) 0;
}
.single-product-breadcrumbs,
#breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  a, span{
	color: $blue-title;
	font-size: size(18);
	font-weight: 400;
	&:first-child{
	  padding-right: 0;
	}
	&:last-child{
	  padding-left: 0;
	}
  }
}
.product-summary{
  padding-top: size(35);
  span.onsale{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	right: size(34);
	border-radius: 0 !important;
	padding-top: 10px !important;
	top: -15px;
	min-width: size(124);
	min-height: size(71);
	width: size(170);
	height: size(98);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	color: #ffffff;
	font-size: size(41);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(42);
	text-align: center;
	text-transform: uppercase;
	background-image: url("../iconsall/sale-back.png");
	picture{
	  height: auto;
	  img{
		max-width: 100%;
		height: auto;
	  }
	}
  }
  .product_title{
	color: $blue-title;
	font-size: size(28);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(30);
	margin-bottom: 15px;
  }
  .price{
	align-items: flex-start;
  }
  .act-price{
	bdi{
	  span{
		font-size: size(38) !important;
		line-height: size(40) !important;
	  }
	}
  }
  //.qty-wrap{
	//width: 130px;
	////margin: 0 8px;
  //}
  //.single_add_to_cart_button{
	//height: size(50) !important;
	//margin-top: 1rem !important;
	//display: flex!important;
	//align-items: center;
	//justify-content: center;
	//background-color: $blue-main !important;
	//box-shadow: 0 0 0 0 rgba(0,0,0,0);
	//transition: box-shadow .5s;
	//&:hover{
	//  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
	//}
	//svg{
	//  position: relative;
	//  width: 29px;
	//  height: 27px;
	//  fill: #fff;
	//  margin-right: 20px;
	//}
	//span{
	//  color: #ffffff;
	//  font-size: size(21);
	//  line-height: size(20);
	//  font-weight: 500;
	//}
  //}
}
.product-gallery{
  width: 100%;
  .slick-initialized .slick-slide {
	padding: 5px;
	height: auto;
  }
  .slick-current{
	.thumb-item{
	}
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .slider-item {
	display: flex !important;
	align-items: center;
	justify-content: center;
	padding: 10px;
	box-shadow: 0 0 20px 2px rgba(35, 35, 35, 0.15);
	border-radius: size(35);
	background-color: #ffffff;
	margin: 22px;
	img {
	  max-width: 100%;
	}
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 85%;
	}
	&.video-item {
	  @include back-img;
	}
  }
  .play-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: size(35);
	background-color: rgba(0, 0, 0, 0.21);
	img {
	  width: 20% !important;
	}
  }
  .thumbs {
	padding-top: 20px;
	.thumb-item{
	  height: 137px !important;
	  display: flex !important;
	  box-shadow: 0 0 5px 1px rgba(82, 81, 81, 0.2);
	  background-color: #ffffff;
	  margin: 15px 10px;
	  border-radius: size(35);
	  //&:after {
	  //content: '';
	  //display: block;
	  //padding-bottom: 100%;
	  //}
	  padding: 10px;
	  align-items: center;
	  justify-content: center;
	  position: relative;
	  img{
		max-height: 90% !important;
		width: auto !important;
	  }
	}
  }
  picture{
	@include d-center;
	height: 100%;
	width: 100%;
	margin: 0;
  }
}
#video-holder{
  iframe{
	width: 100%;
	height: 500px;
	border: none;
  }
}
.product-item-categories{
  margin: size(50) 0;
  .cat-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.cat__icon{
	  width: 48px;
	  height: 48px;
	  background: #000;
	  border-radius: 50%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  svg{
		max-height: 70%;
		fill: #fff;
	  }
	}
	.cat__title{
	  color: #373637;
	  font-size: 18px;
	  font-weight: 300;
	  margin-top: 16px;
	  margin-bottom: 0;
	  p{
		text-align: center;
	  }
	  strong{
		font-weight: 700;
	  }
	}
  }
}
.product-item-info{
  .card{
	border: none;
  }
  .card-header{
	padding: 0;
	background: #fff;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid $olive;
  }
  h5{
	text-align: right;
	position: relative;
	button{
	  display: block;
	  text-align: right;
	  width: 100%;
	  font-size: size(30);
	  line-height: size(32);
	  font-weight: 700;
	  color: $olive;
	  padding: 10px 5px;
	  border: none;
	  transition: color .5s;
	  text-decoration: none !important;
	  &:hover{
		color: $blue-title;
		transition: color .5s;
	  }
	}
	&:after{
	  content: '+';
	  font-weight: 700;
	  font-size: 30px;
	  position: absolute;
	  left: 0;
	  top: 0;
	  color: $olive;
	  height: 100%;
	  display: flex;
	  align-items: center;
	}
  }
  .card{
	&.active{
	  h5{
		&:after{
		  content: '-';
		}
	  }
	}
  }
  .card-body {
	padding: 1rem 0 1rem 0;
  }
}
.related-products-col{
  margin-top: 55px;
  .related-slider-nav{
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	.sl-nav{
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  border: 2px solid;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  cursor: pointer;
	  margin: 0 3px;
	  svg{
		width: 24px;
	  }
	}
  }
}
.product-slider-partial{
  .product-small-card .woocommerce-loop-product__title{
	font-size: size(20);
  }
  .single_add_to_cart_button{
	padding: 0!important;
	border-radius: size(25);
	margin-top: 1rem;
  }
}
.cart-animation-helper {
  margin: 0 20%;
  width: 0;
  height: 0;
  z-index: 999999999999999;
  position: absolute;
  &:after{
	opacity: 0;
	border-radius: 0;
	max-height: 19px;
	max-width: 19px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	height: 19px;
	width: 19px;
	background-color: $blue-main;

	transition:
			transform 0.8s ease-out,
			margin 0.8s ease-out,
			opacity 0.8s ease-out,
			border-radius 0.4s ease-out,
			max-height 0.4s ease-out,
			max-width 0.4s ease-out;
  }
}
.price ins bdi span {
  @include mid-title;
  font-weight: 700;
  color: $blue-title;
}
.price ins bdi {
  display: flex;
  align-items: center;
}
.wrapper-product-wish {
  padding: size(20) size(25);
  border-top: 4px solid $blue-main;
  width: 100%;
  display: flex;
  align-items: stretch;
  .qty-wrap {
	margin: 0 0.5%;
	min-height: size(35);
	border-radius: 11px;
	input {
	  font-weight: 700;
	  font-size: size(29);
	}
  }
  .single_add_to_cart_button {
	margin: 0 0.5%;
	display: flex;
	align-items: center;
	padding: 5px !important;
	justify-content: center;
	height: size(35) !important;
	border-radius: 11px !important;
	background-color: $blue-main !important;
	color: #ffffff !important;
	font-size: size(24) !important;
	font-weight: 400 !important;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(32);
	text-align: center;
	width: 50%;
  }
}
