/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}

@media (min-width: 1880px) {
  .contact-item {
	width: 90%;
  }
  .form-oil {
	max-width: 28%;
  }
}
@media (max-width: 1500px) {
  .form-oil {
	display: none;
  }
}
//Bootstrap 4 breakpoints
@media (min-width: 1500px) {
  body {
	padding-top: size(90);
  }
  .container {
	max-width: 73%;
  }
  #MainNav {
	ul {
	  li {
		padding: 0 size(26);
	  }
	}
  }
  .logo {
	img {
	  max-height: size(70);
	}
  }
  @mixin input-style {
	padding-right: size(61);
	height: size(58);
	background-size: size(43);
  }
  @mixin input-text {
	font-size: size(25);
	line-height: size(26);
  }
  div.wpcf7 input,
  div.wpcf7 textarea {
	@include input-style;
	@include input-text;
  }
  div.wpcf7 textarea {
	height: size(228);
	padding: 20px;
  }
  .wpcf7-form {
	::placeholder {
	  @include input-text;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include input-text;
	}
  }
  .img-off-right {
	right: 10%;
  }
  .img-off-left {
	left: 10%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
  .col-upsells {
	flex: 0 0 20%;
	max-width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 19px;
  }
  .form-oil {
	display: none;
  }
  #MainNav{
	ul{
	  li{
		a{
		  font-size: size(16);
		  line-height: size(18);
		}
	  }
	}
  }
  .home-category-link {
	min-height: size(45);
	padding: 5px size(20) 5px size(60);
	min-width: size(300);
	font-size: size(30);
	line-height: size(32);
	&:after {
	  width: size(40);
	  height: size(40);
	  background-size: size(25);
	}
  }
  .contact-img-oil {
	right: -3rem;
	max-width: 30%;
  }
  .benefit-item {
	padding: 0 5%;
  }
  .row-header-custom {
	.col-auto {
	  padding: 0 5px !important;
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 20px;
  }
  .header-tel {
	img {
	  display: block;
	  width: size(23);
	}
	.header-tel-text {
	  display: none;
	}
  }
  .home-post {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .home-post:nth-child(3), .home-post:nth-child(4),
  .home-post:nth-child(7), .home-post:nth-child(8) {
	flex-direction: row;
  }
  .home-post:nth-child(odd) {
	flex-direction: row-reverse;
  }
  .slider-col-content {
	padding: 0 15px !important;
	margin-bottom: 5rem;
  }
  .contact-img-oil {
	max-width: 40%;
  }
  .logo-title-wrap {
	padding: 0 size(68);
	.block-title {
	  font-size: size(35);
	  line-height: size(37);
	}
	&:after, &:before {
	  width: size(68);
	  height: size(31);
	}
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .pop-oil {
	margin-bottom: -8rem;
	width: 55%;
  }
  .hide-stuff {
	display: none !important;
  }
  .langs-wrap {
	width: size(32);
	height: size(32);
  }
  .header-tel-text {
	font-size: size(15);
	line-height: size(18);
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  #MainNav{
	padding-top: 1rem;
	ul{
	  li{
		border: none !important;
		justify-content: flex-start;
		a{
		  font-size: size(22);
		  line-height: size(24);
		}
	  }
	}
  }
  nav#MainNav,
  nav#MainNav ul.sub-menu {
	background-color: $blue-main !important;
  }
  nav#MainNav div.main_menu ul li.active,
  nav#MainNav div.main_menu ul li.current-menu-item {
	background-color: $blue-title;
  }
  .video-slider {
	.slick-slide {
	  margin-top: 13px;
	}
  }
  .video-item {
	&:after {
	  padding-bottom: 48%;
	}
  }
  .contact-img-oil {
	bottom: 3rem;
	right: -5rem;
	max-width: 50%;
  }
  .form-wrapper-pop {
	.pop-form-title {
	  font-size: size(42);
	  line-height: size(45);
	}
  }
  .offer-img {
	display: none;
  }
}
//Mobile
@media (max-width: 650px) {
  .home-cats-block {
	padding-bottom: 0;
  }
  .home-category {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 7rem;
  }
  .contact-form-wrap {
	position: relative;
	padding: size(40) size(32) 10px size(32);
  }
  .olive-form {
	top: -1rem;
	left: 0;
	max-width: size(51);
  }
  .contact-img-oil {
	display: none;
  }
  .trigger-item {
	width: size(51);
	margin-bottom: 5px;
  }
  .link-trigger {
	flex-direction: column;
	width: size(51);
	height: size(46);
	img {
	  width: 16px;
	}
  }
  .pop-trigger {
	min-height: size(40);
  }
  .offer-title {
	@include mid-title;
  }
  .offer-subtitle {
	font-size: size(30);
	line-height: size(32);
	margin-bottom: size(40);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .header-tel {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: size(45);
	height: size(45);
	border-radius: 50%;
	background-color: $blue-main;
	animation: jump 1.2s ease-in-out alternate infinite;
	z-index: 999;
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.57);
	img {
	  display: block;
	  width: size(23);
	}
  }
  .ben-icon {
	padding: 20px;
	width: size(120);
	height: size(120);
  }
  .product-col {
	flex: 0 0 90%;
	max-width: 90%;
  }
  .home-post {
	flex-direction: column !important;
  }
  .home-post-content, .home-post-img {
	width: 100%;
  }
  .video-item {
	&:after {
	  padding-bottom: 49%;
	}
  }
  .pop-form-title {
	@include base-title;
  }
  .form-title {
	@include mid-title;
  }
  .pop-form-subtitle {
	@include mid-text;
  }
  .block-title, .woocommerce div.product .product_title {
	@include mid-title;
  }
  .faq-body-title {
	font-size: size(22);
	line-height: size(24);
  }
  .arrow-top {
	left: size(12);
	width: size(18);
  }
  .faq-icon {
	width: 2rem;
	height: 2rem;
	margin-left: 5px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .triggers-col {
	left: 2px;
  }
  footer {
	div.wpcf7 input[type="submit"] {
	  margin-right: 0;
	  margin-left: 0;
	}
	div.wpcf7 input[type="email"], div.wpcf7 input[type="submit"] {
	  border-radius: size(29) !important;
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .product-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .video-slider {
	.slick-slide {
	  margin-top: 11px;
	}
  }
  .contact-icon-wrap {
	flex: 0 0 25%;
	max-width: 25%;
	img {
	  max-height: 75%;
	}
  }
  .logo-title-wrap {
	padding: 0;
	&:after, &:before {
	  display: none;
	}
  }
  .base-title {
	font-size: size(30);
	line-height: size(32);
  }
  .faq-body-title {
	font-size: size(18);
	line-height: size(20);
  }
  .faq .answer-body {
	padding: size(20);
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
  .pop-oil {
	display: none;
  }
  .form-wrapper-pop {
	padding: 2rem 7% 10px 7%;
  }
}
@media (max-width: 350px) {
  .video-slider {
	.slick-slide {
	  margin-top: 9px;
	}
  }
}
