body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

.base-output {
  li {
	list-style: url("../iconsall/arrow-right.png");
  }
}
.block-link {
  padding-right: 26px !important;
  padding-left: 0;
  background-image: url("../iconsall/arrow-right.png");
  background-position: calc(100% - 7px) center;
  &:hover {
	background-position: right center;
  }
}
.base-link {
  &:after {
	left: unset;
	right: 7px;
	background-image: url("../iconsall/arrow-right.png");
  }
}
.offer-block {
  .base-link {
	&:after {
	  background-image: url("../iconsall/arrow-link-white-right.png");
	}
  }
}
.home-category-link {
  padding: 5px size(80) 5px size(30);
  &:after {
	background-image: url("../iconsall/arrow-link-white-right.png");
  }
}
#MainNav{
  ul{
	display: flex;
	li{
	  border-left: unset;
	  border-right: 1px solid #fff;
	  &:last-child  {
		border-right: none;
	  }
	}
  }
}
.logo-title {
  margin: 25px 0 0 10px;
}
.slider-col-content {
  padding-right: 5%;
  padding-left: 15px;
}
.blue-slider {
  .slider-col-content {
	padding-left: 5%;
	padding-right: 15px;
  }
}
.contact-info {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.contact-icon-wrap {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
//Forms ltr
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea,
div.wpcf7 select {
  text-align: left;
  padding-left: size(51);
  padding-right: 8px;
  background-position: 10px center;
}
div.wpcf7 input[type="submit"] {
  background-position: calc(100% - 6px);
  padding-right: size(51);
  padding-left: 8px;
  background-image: url("../iconsall/submit-arrow-ltr.png");
}
div.wpcf7 textarea {
  padding: 20px;
}
.product-item-info h5 button {
  text-align: left;
}
//Faq
.arrow-top {
  right: size(17);
  left: unset;
}
.faq-body-title {
  text-align: left;
}
.faq-icon {
  margin-right: 15px;
  margin-left: 0;
}
.logo-title-wrap {
  &:after {
	right: 0;
	left: unset;
	background-image: url("../iconsall/olive-top.png");
  }
  &:before {
	left: 0;
	right: unset;
	background-image: url("../iconsall/olive-bottom.png");
  }
}
.post-form-wrap {
  box-shadow: -1px 1px 15px 1px rgba(35, 35, 35, 0.26);
  background-color: #ffffff;
  div.wpcf7 input {
	padding-left: size(35);
	padding-right: 8px;
	background-position: 5px center;
  }
  div.wpcf7 input[type="submit"] {
	background-position: calc(100% - 5px) center;
	padding-right: size(35);
	padding-left: 8px;
  }
}
.question-title {
  padding-left: 5px;
  padding-right: size(40);
}
.triggers-col {
  right: size(26);
  left: unset;
}
.pop-trigger {
  font-size: size(13);
}
footer {
  div.wpcf7 input[type="submit"] {
	margin-right: 0;
	margin-left: -1rem;
	border-radius: size(29) !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
  }
  div.wpcf7 input[type="email"] {
	border-radius: size(29) !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
  }
}
.acceptance-col {
  input[type="checkbox"] {
	margin-left: 0;
	margin-right: 5px;
  }
}
footer {
  li {
	padding-right: 0;
	padding-left: 20px;
	&:before {
	  right: unset;
	  left: 0;
	}
  }
}
.product-small-card .bottom {
  direction: ltr !important;
}

//MEDIA QUERIES
@media (min-width: 1500px) {
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="email"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 textarea {
	padding-left: size(61);
  }
  div.wpcf7 input[type="submit"] {
	padding-right: size(65);
  }
}


@media (max-width: 768px) {
  nav#MainNav div.main_menu > ul > li > a {
	text-align: left;
  }
  .header-logo-wrap {
	left: unset;
	right: 20px;
  }
  nav#MainNav {
	left: -200px;
  }
  nav#MainNav.active {
	right: unset;
	left: 0;
  }
  #MobNavBtn {
	left: 100%;
	right: unset;
	border-radius: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
}

@media (max-width: 576px) {
  .arrow-top {
	right: size(12);
	left: unset;
  }
  .faq-icon {
	margin-right: 5px;
	margin-left: unset;
  }
  .triggers-col {
	right: 2px;
  }
  .pop-trigger, .link-trigger {
	font-size: 9px;
  }
  footer {
	div.wpcf7 input[type="submit"] {
	  margin-right: 0;
	  margin-left: 0;
	}
	div.wpcf7 input[type="email"], div.wpcf7 input[type="submit"] {
	  border-radius: size(29) !important;
	}
  }
}
