body {
  text-align: left;
  direction: ltr;
}

.base-output li {
  list-style: url("../iconsall/arrow-right.png");
}

.block-link {
  padding-right: 26px !important;
  padding-left: 0;
  background-image: url("../iconsall/arrow-right.png");
  background-position: calc(100% - 7px) center;
}
.block-link:hover {
  background-position: right center;
}

.base-link:after {
  left: unset;
  right: 7px;
  background-image: url("../iconsall/arrow-right.png");
}

.offer-block .base-link:after {
  background-image: url("../iconsall/arrow-link-white-right.png");
}

.home-category-link {
  padding: 5px 4rem 5px 1.5rem;
}
.home-category-link:after {
  background-image: url("../iconsall/arrow-link-white-right.png");
}

#MainNav ul {
  display: flex;
}
#MainNav ul li {
  border-left: unset;
  border-right: 1px solid #fff;
}
#MainNav ul li:last-child {
  border-right: none;
}

.logo-title {
  margin: 25px 0 0 10px;
}

.slider-col-content {
  padding-right: 5%;
  padding-left: 15px;
}

.blue-slider .slider-col-content {
  padding-left: 5%;
  padding-right: 15px;
}

.contact-info {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact-icon-wrap {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 input[type=tel],
div.wpcf7 textarea,
div.wpcf7 select {
  text-align: left;
  padding-left: 2.55rem;
  padding-right: 8px;
  background-position: 10px center;
}

div.wpcf7 input[type=submit] {
  background-position: calc(100% - 6px);
  padding-right: 2.55rem;
  padding-left: 8px;
  background-image: url("../iconsall/submit-arrow-ltr.png");
}

div.wpcf7 textarea {
  padding: 20px;
}

.product-item-info h5 button {
  text-align: left;
}

.arrow-top {
  right: 0.85rem;
  left: unset;
}

.faq-body-title {
  text-align: left;
}

.faq-icon {
  margin-right: 15px;
  margin-left: 0;
}

.logo-title-wrap:after {
  right: 0;
  left: unset;
  background-image: url("../iconsall/olive-top.png");
}
.logo-title-wrap:before {
  left: 0;
  right: unset;
  background-image: url("../iconsall/olive-bottom.png");
}

.post-form-wrap {
  box-shadow: -1px 1px 15px 1px rgba(35, 35, 35, 0.26);
  background-color: #ffffff;
}
.post-form-wrap div.wpcf7 input {
  padding-left: 1.75rem;
  padding-right: 8px;
  background-position: 5px center;
}
.post-form-wrap div.wpcf7 input[type=submit] {
  background-position: calc(100% - 5px) center;
  padding-right: 1.75rem;
  padding-left: 8px;
}

.question-title {
  padding-left: 5px;
  padding-right: 2rem;
}

.triggers-col {
  right: 1.3rem;
  left: unset;
}

.pop-trigger {
  font-size: 0.65rem;
}

footer div.wpcf7 input[type=submit] {
  margin-right: 0;
  margin-left: -1rem;
  border-radius: 1.45rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
footer div.wpcf7 input[type=email] {
  border-radius: 1.45rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.acceptance-col input[type=checkbox] {
  margin-left: 0;
  margin-right: 5px;
}

footer li {
  padding-right: 0;
  padding-left: 20px;
}
footer li:before {
  right: unset;
  left: 0;
}

.product-small-card .bottom {
  direction: ltr !important;
}

@media (min-width: 1500px) {
  div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 input[type=tel],
div.wpcf7 textarea {
    padding-left: 3.05rem;
  }

  div.wpcf7 input[type=submit] {
    padding-right: 3.25rem;
  }
}
@media (max-width: 768px) {
  nav#MainNav div.main_menu > ul > li > a {
    text-align: left;
  }

  .header-logo-wrap {
    left: unset;
    right: 20px;
  }

  nav#MainNav {
    left: -200px;
  }

  nav#MainNav.active {
    right: unset;
    left: 0;
  }

  #MobNavBtn {
    left: 100%;
    right: unset;
    border-radius: 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
@media (max-width: 576px) {
  .arrow-top {
    right: 0.6rem;
    left: unset;
  }

  .faq-icon {
    margin-right: 5px;
    margin-left: unset;
  }

  .triggers-col {
    right: 2px;
  }

  .pop-trigger, .link-trigger {
    font-size: 9px;
  }

  footer div.wpcf7 input[type=submit] {
    margin-right: 0;
    margin-left: 0;
  }
  footer div.wpcf7 input[type=email], footer div.wpcf7 input[type=submit] {
    border-radius: 1.45rem !important;
  }
}

/*# sourceMappingURL=ltr.css.map */
