@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "product";
@import "partials";
@import "forms";

body{
  font-family: $open-sans;
  text-align: right;
  direction: rtl;
  padding-top: size(55);
}
.wow {
  visibility: hidden;
}
.base-text {
  @include base-text;
  color: $text-color;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: $blue-title;
	font-weight: 700;
	margin-bottom: size(20);
  }
  h1, h2 {
	@include base-title;
  }
  h3 {
	@include mid-title;
  }
  h4 {
	font-size: size(34);
	line-height: size(36);
  }
  h5 {
	font-size: size(30);
	line-height: size(32);
  }
  h6 {
	@include mid-text;
  }
  p, li {
	@include base-text;
	color: $text-color;
  }
  p {
	margin-bottom: size(36);
  }
  li {
	list-style: url("../iconsall/arrow-link.png");
  }
  ul {
	margin: 0 1rem;
  }
}
.small-output {
  p, li {
	font-size: size(18);
  }
}
.base-text-small {
  font-size: size(18);
  line-height: normal;
}
.m-50 {
  margin: size(50) 0;
}
.block-link {
  color: $olive;
  font-size: size(19);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  background-size: size(18);
  padding-left: size(24);
  background-image: url("../iconsall/arrow-link.png");
  background-position: 4px center;
  background-repeat: no-repeat;
  transition: background-position .5s;
  &:hover {
	color: $olive;
	background-position: 0 center;
	transition: background-position .5s;
  }
}
.middle-title {
  @include mid-text;
  text-align: center;
  font-weight: 700;
  color: $text-color;
}
.base-title {
  @include mid-title;
  text-align: center;
  color: $blue-title;
  margin-bottom: size(40);
  font-weight: 700;
}
.logo-title-wrap {
  position: relative;
  @include d-center;
  flex-wrap: wrap;
  margin-bottom: size(40);
  padding: 0 size(98);
  &:after, &:before {
	position: absolute;
	content: '';
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: size(98);
	height: size(61);
  }
  &:after {
	left: 0;
	background-image: url("../iconsall/olive-bottom.png");
  }
  &:before {
	right: 0;
	background-image: url("../iconsall/olive-top.png");
  }
}
.block-title, .product_title {
  @include base-title;
  color: $blue-title;
  font-weight: 700;
  text-align: center;
}
.logo-title {
  margin: 25px 10px 0 0;
  width: size(190);
}
.base-link {
  position: relative;
  @include d-center;
  background-color: $olive;
  min-height: size(45);
  border-radius: 14px;
  color: #ffffff;
  font-size: size(22);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
  padding: 8px size(50);
  min-width: size(296);
  border: 2px solid $olive;
  transition: color, background-color .5s;
  &:after {
	position: absolute;
	left: 7px;
	content: '';
	@include d-center;
	background-color: #ffffff;
	border-radius: 50%;
	width: size(35);
	height: size(35);
	background-image: url("../iconsall/arrow-link.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(21);
  }
  &:hover {
	color: $olive;
	background-color: transparent;
	transition: color, background-color .5s;
  }
}
//Homepage
//Video on homepage
.video-home {
  @include d-center;
  position: relative;
  margin-bottom: size(70);
  video {
	width: 100%;
  }
}
.button-home {
  @include overlay;
  background-image: url("../img/video-overlay.png");
  @include back-img;
  @include d-center;
  cursor: pointer;
  transition: opacity .5s;
  &.hide {
	opacity: 0;
	transition: opacity .5s;
  }
  img {
	width: size(50);
  }
}
//homepage posts output
.home-posts-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.home-post {
  display: flex;
  align-items: stretch;
  flex: 0 0 50%;
  max-width: 50%;
}
.home-post:nth-child(3), .home-post:nth-child(4),
.home-post:nth-child(7), .home-post:nth-child(8) {
  flex-direction: row-reverse;
}
.home-post-img {
  @include back-img;
  width: 50%;
  &:after {
	display: block;
	content: '';
	padding-bottom: 76%;
  }
}
.home-post-content {
  width: 50%;
  padding: size(32) 5% 12px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-slider {
  display: flex;
  justify-content: center;
  background-image: url("../img/macbook.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  .slick-slide {
	margin-top: 16px;
	display: flex !important;
	justify-content: center;
  }
  &:after {
	display: block;
	content: '';
	padding-bottom: 63.18%;
  }
}
.video-item {
  position: relative;
  @include back-img;
  width: 67.5% !important;
  &:after {
	content: '';
	display: block;
	padding-bottom: 50%;
  }
  iframe {
	position: absolute;
	top: 0;
	right: 0;
  }
}
.play-video {
  height: 100%;
  @include d-center;
  width: 100%;
  img {
	width: 15%;
  }
  cursor: pointer;
}
.home-cats-block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding-bottom: 8rem;
}
.home-category {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  @include back-img;
  &:last-child {
	flex-grow: 1;
  }
  &:after {
	content: '';
	display: block;
	padding-bottom: 50%;
  }
}
.home-category-overlay {
  @include overlay;
  background-color: rgba(0, 0, 0, 0.43);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: size(40) 5% 0 5%;
}
.home-category-link {
  min-height: size(60);
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.67);
  border-radius: size(30);
  background-color: #ffffff;
  padding: 5px size(30) 5px size(80);
  min-width: size(420);
  @include base-title;
  color: $olive;
  border: none;
  &:after {
	width: size(48);
	height: size(48);
	background-size: size(30);
	background-color: $olive;
	background-image: url("../iconsall/arrow-link-white.png");
  }
  &:hover {
	color: #ffffff;
	background-color: $olive;
  }
}
.cat-img-custom {
  flex: 0 0 75%;
  max-width: 75%;
  margin-bottom: -4rem;
  z-index: 3;
}
//Contact page
.contact-item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: -1px 1px 34px 1px rgba(35, 35, 35, 0.1);
  height: 100%;
  border-radius: 10px;
  flex-direction: row-reverse;
}
.contact-icon-wrap {
  flex: 0 0 33%;
  max-width: 33%;
  background-color: $olive;
  @include d-center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  img {
	max-height: 90%;
  }
}
.contact-info {
  background-color: #ffffff;
  padding: size(18);
  flex-grow: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-type-title {
  color: #282828;
  font-size: size(20);
  line-height: size(22);
  font-weight: 700;
  margin-bottom: 5px;
}
.contact-type {
  font-size: size(18);
  line-height: size(20);
  font-weight: 400;
  color: #282828;
}
.col-contact {
  margin-bottom: 1rem;
}
.contact-form-wrap {
  position: relative;
  padding: size(60) size(72) 20px size(72);
  box-shadow: 0 0 20px 2px rgba(35, 35, 35, 0.15);
  border-radius: 35px;
  background-image: linear-gradient(to top, #132d52 0%, #19487d 100%);
  div.wpcf7 input[type="submit"] {
	border: 1px solid #ffffff;
  }
}
.olive-form {
  position: absolute;
  top: -2rem;
  left: -2rem;
  max-width: size(101);
  z-index: 3;
}
.form-contact-row {
  padding-bottom: size(70);
}
.contact-img-oil {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}
//Basic page styles
.title-wrap {
  padding: size(40) 0;
  box-shadow: -18px -1px 21px rgba(36, 48, 32, 0.4);
  background-color: #ffffff;
  background-image: url("../img/top-img.png");
  @include back-img;
  &.product-top {
	background-image: url("../img/product-top.png");
  }
}
.woocommerce-message::before {
  color: $blue-main;
}
.woocommerce-message {
  border-top-color: $blue-main;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $blue-main;
  color: #fff !important;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  margin: 0;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $olive;
}
//Post
.same-posts {
  margin: size(50) 0;
}
.post-page-img {
  margin-bottom: size(83);
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: size(18) 0;
}
.post-output-line {
  border-bottom: 2px solid $olive;
}
.social-share-link {
  margin: 0 5px;
}
//Blog
.more-link {
  @include d-center;
  min-width: size(155);
  height: size(29);
  border-radius: 15px;
  background-color: $olive;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  font-size: size(18);
  line-height: size(20);
  border: 2px solid $olive;
  cursor: pointer;
  transition: color, background-color .5s;
  &:hover {
	color: $olive;
	background-color: #fff;
	transition: color, background-color .5s;
  }
  &.hide {
	display: none !important;
  }
}
//Shop page
.box-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.filter-link {
  @include d-center;
  border: 1px solid $blue-title;
  text-align: center;
  @include mid-text;
  color: $blue-title;
  padding: 8px 20px;
  min-height: size(36);
  transition: color, background-color .5s;
  margin-bottom: 5px;
  &.curr-link {
	background-color: $blue-title;
	color: #fff;
  }
  &:hover {
	background-color: $blue-title;
	color: #fff;
	transition: color, background-color .5s;
  }
}
//block-benefits on homepage
.block-benefits {
  padding: size(100) 0;
  background-image: url("../img/back-benefits.png");
  background-color: #ffffff;
  @include back-img;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
}
.ben-icon {
  @include d-center;
  width: size(190);
  height: size(190);
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: $olive;
  background-image: linear-gradient(to top, #3c665a 0%, #2c473f 100%);
  padding: size(35);
}
.ul-centered {
  ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  }
  margin-bottom: size(80);
}
.offer-block {
  position: relative;
  background-image: url("../img/form-img.png");
  @include back-img;
  padding: size(85) 0 size(110) 0;
}
.offer-block-overlay {
  @include overlay;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.28);
  background-color: rgba(14, 14, 14, 0.45);
  z-index: 3;
}
.offer-block-info {
  position: relative;
  z-index: 5;
  .base-link {
	min-width: size(300);
	min-height: size(45);
	box-shadow: 0 3px 18px rgba(0, 0, 0, 0.67);
	border-radius: size(23);
	background-color: #ffffff;
	color: $olive;
	font-size: size(30);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(32);
	border: none;
	transition: box-shadow .5s;
	&:after {
	  background-color: $olive;
	  background-image: url("../iconsall/arrow-link-white.png");
	}
	&:hover {
	  color: $olive;
	  box-shadow: unset;
	  background-color: #ffffff;
	  transition: box-shadow .5s;
	}
  }
}
.offer-title, .offer-subtitle {
  text-shadow: 0 1px 13px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.offer-title {
  @include base-title;
  margin-bottom: 15px;
}
.offer-subtitle {
  font-size: size(35);
  line-height: size(37);
  margin-bottom: size(60);
}
.offer-img {
  position: absolute;
  bottom: 0;
  max-width: 25%;
  z-index: 7;
}
.img-off-right {
  right: 2%;
}
.img-off-left {
  left: 2%;
}
//Product page editions
.upsells-cont {
  margin-top: 2rem;
  padding-bottom: size(60);
  border-bottom: 4px solid #516e66;
  .top {
	overflow: hidden;
  }
  .product-small-card .woocommerce-loop-product__title {
	display: none !important;
  }
  .price {
	position: absolute;
	top: -3rem;
  }
  .product-small-card {
	margin-top: 2rem;
	height: size(200);
  }
  .add-to-cart-wrap {
	position: absolute;
	bottom: -2rem;
	flex-direction: column-reverse;
	right: 0;
	align-items: center;
	width: 100%;
  }
  .qty-wrap {
	width: 38%;
  }
  .add-to-cart-wrap button[type="submit"] {
	background-color: $olive !important;
	border-radius: size(26) size(26) 0 0 !important;
	font-size: 13px !important;
	font-weight: 700;
	height: 31px;
	margin-bottom: 10px;
  }
}
.related-title {
  font-size: size(30);
  line-height: size(32);
  font-weight: 700;
  margin-bottom: size(20);
  color: $blue-title;
  text-align: center;
}
.related-products-col {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .product-slider-partial {
	padding: 0 20px;
  }
  .product-small-card {
	box-shadow: unset;
	background-color: unset;
	border-radius: 0;
	padding: 0 !important;
	.top {
	  box-shadow: 0 0 20px 2px rgba(35, 35, 35, 0.15);
	  border-radius: size(35);
	  background-color: #ffffff;
	  height: size(200);
	  img {
		max-height: size(180) !important;
		height: auto !important;
	  }
	}
  }
}
.related-pad {
  padding: 0 size(30);
}

@import "responsive";
